<div id="<%= dom_id budget_category %>">
  <p>
    <strong>Name:</strong>
    <%= budget_category.name %>
  </p>

  <p>
    <strong>Budgeted amount:</strong>
    <%= budget_category.budgeted_amount %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= budget_category.trip_id %>
  </p>

</div>
